flows/Customer_Journey_Deploy_User_Stories.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Promote_Checkbox</name>
        <label>Assign Promote Checkbox</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>loopThroughUserStories.copado__Promote_and_Deploy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopThroughUserStories.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection</name>
        <label>Assign to Update Collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varUserStoryUpdateColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughUserStories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughUserStories</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Customer Journey - Deploy User Stories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Journey - Deploy User Stories</label>
    <loops>
        <name>loopThroughUserStories</name>
        <label>Loop Through User Stories</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>varUserStoryCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Promote_Checkbox</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Story_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_User_Stories</name>
        <label>Get Related User Stories</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughUserStories</targetReference>
        </connector>
        <filters>
            <field>Customer_Journey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerJourney</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tasks_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tests_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for UAT</stringValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputReference>varUserStoryCol</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Promote_and_Deploy__c</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Story_Collection</name>
        <label>Update User Story Collection</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>varUserStoryUpdateColl</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_User_Stories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCustomerJourney</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserStoryCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>varUserStoryUpdateColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
