flows/Customer_Journey_User_Story_Create_Update_History.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Object_Type</name>
        <label>Object Type</label>
        <locationX>556</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Journey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerJourney</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Customer_Journey_History_Entries</targetReference>
            </connector>
            <label>Customer Journey</label>
        </rules>
        <rules>
            <name>User_Story</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserStory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_User_Story_History_Entries</targetReference>
            </connector>
            <label>User Story</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Customer_Journey_History_Records_available</name>
        <label>Old Customer Journey History Records available</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CJH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldCJHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_old_Customer_History_Entries</targetReference>
            </connector>
            <label>Yes_CJH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_User_Story_History_Records_available</name>
        <label>Old User Story History Records available</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldUSHistoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_old_User_Story_Entries</targetReference>
            </connector>
            <label>Yes_US</label>
        </rules>
    </decisions>
    <formulas>
        <name>formCJDuration</name>
        <dataType>Number</dataType>
        <expression>({!formNow}-{!varCJOldStartDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formNow</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>formUSDuration</name>
        <dataType>Number</dataType>
        <expression>({!formNow}-{!varUSOldStartDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Customer Journey &amp; User Story - Create &amp; Update History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Journey &amp; User Story - Create &amp; Update History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Customer_Journey_History_Entry</name>
        <label>Create New Customer Journey History Entry</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Old_Customer_Journey_History_Records_available</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Journey__c</field>
            <value>
                <elementReference>varCustomerJourney</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field__c</field>
            <value>
                <elementReference>varField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>varNewValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>varOldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formNow</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Journey_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_User_Story_History_Entry</name>
        <label>Create New User Story History Entry</label>
        <locationX>622</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Old_User_Story_History_Records_available</targetReference>
        </connector>
        <inputAssignments>
            <field>Field__c</field>
            <value>
                <elementReference>varField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>varNewValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>varOldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Story__c</field>
            <value>
                <elementReference>varUserStory</elementReference>
            </value>
        </inputAssignments>
        <object>User_Story_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Old_Customer_Journey_History_Entries</name>
        <label>Get Old Customer Journey History Entries</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Customer_Journey_History_Entry</targetReference>
        </connector>
        <filters>
            <field>Customer_Journey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerJourney</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varField</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Customer_Journey_History__c</object>
        <outputAssignments>
            <assignToReference>varOldCJHistoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCJOldStartDate</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_User_Story_History_Entries</name>
        <label>Get Old User Story History Entries</label>
        <locationX>622</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_User_Story_History_Entry</targetReference>
        </connector>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserStory</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varField</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User_Story_History__c</object>
        <outputAssignments>
            <assignToReference>varOldUSHistoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUSOldStartDate</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_old_Customer_History_Entries</name>
        <label>Update old Customer History Entries</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldCJHistoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration_min__c</field>
            <value>
                <elementReference>formCJDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>formNow</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Journey_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_old_User_Story_Entries</name>
        <label>Update old User Story Entries</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldUSHistoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration_Min__c</field>
            <value>
                <elementReference>formUSDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>formNow</elementReference>
            </value>
        </inputAssignments>
        <object>User_Story_History__c</object>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCJOldStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCustomerJourney</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldCJHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldUSHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUSOldStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
