flows/Sprint_Start_User_Story_Implementation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_In_Progress_Status</name>
        <label>Assign In Progress Status</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_User_Stories.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection</name>
        <label>Assign to Update Collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varUserStoryUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_User_Stories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_User_Stories</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Sprint - Start User Story Implementation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sprint - Start User Story Implementation</label>
    <loops>
        <name>Loop_Through_User_Stories</name>
        <label>Loop Through User Stories</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>varUserStoryColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_In_Progress_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Stories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_User_Stories</name>
        <label>Get Related User Stories</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_User_Stories</targetReference>
        </connector>
        <filters>
            <field>copado__Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSprintId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputReference>varUserStoryColl</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Stories</name>
        <label>Update User Stories</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>varUserStoryUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_User_Stories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varSprintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserStoryColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>varUserStoryUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
