flows/Sprint_Assignment_Calculate_Capacity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Count_Capacity</name>
        <label>Count Capacity</label>
        <locationX>264</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>varTotalCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Sprint_Assignments.Capacity_d__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Sprint_Assignments</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Sprint Assignment - Calculate Capacity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sprint Assignment - Calculate Capacity</label>
    <loops>
        <name>Loop_Through_Sprint_Assignments</name>
        <label>Loop Through Sprint Assignments</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <collectionReference>varSprintAssignmentsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Capacity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sprint_Capacity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Sprint_Assignments</name>
        <label>Get All Related Sprint Assignments</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Sprint_Assignments</targetReference>
        </connector>
        <filters>
            <field>Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sprint__c</elementReference>
            </value>
        </filters>
        <object>Sprint_Assignment__c</object>
        <outputReference>varSprintAssignmentsColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Capacity_d__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sprint_Capacity</name>
        <label>Update Sprint Capacity</label>
        <locationX>176</locationX>
        <locationY>709</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sprint__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sprint_Capacity_d__c</field>
            <value>
                <elementReference>varTotalCapacity</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Sprint__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Sprint_Assignments</targetReference>
        </connector>
        <object>Sprint_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSprintAssignmentsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sprint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varTotalCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
