flows/Test_Case_Proof_if_all_tests_completed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Test_Not_Passed</name>
        <label>Test Not Passed</label>
        <locationX>446</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>varTestNotPassed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Test_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Test_Passed</name>
        <label>Check Test Passed ?</label>
        <locationX>182</locationX>
        <locationY>925</locationY>
        <defaultConnector>
            <targetReference>User_Story_Update_on_Tests_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTestNotPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Story_Update_on_Tests_NOT_Completed</targetReference>
            </connector>
            <label>Not Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_passed</name>
        <label>Test passed ?</label>
        <locationX>358</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Test_Not_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Test_Cases.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Test_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Test Case - Proof if all tests completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Case - Proof if all tests completed</label>
    <loops>
        <name>Loop_Through_Test_Cases</name>
        <label>Loop Through Test Cases</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <collectionReference>varTestCaseColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Test_passed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Test_Passed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Test_Cases</name>
        <label>Get All Related Test Cases</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Test_Cases</targetReference>
        </connector>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Story__c</elementReference>
            </value>
        </filters>
        <object>Test_Case__c</object>
        <outputReference>varTestCaseColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>User_Story_Update_on_Tests_Completed</name>
        <label>User Story Update on Tests Completed</label>
        <locationX>314</locationX>
        <locationY>1045</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tests_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>User_Story_Update_on_Tests_NOT_Completed</name>
        <label>User Story Update on Tests NOT Completed</label>
        <locationX>50</locationX>
        <locationY>1045</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tests_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Test_Cases</targetReference>
        </connector>
        <object>Test_Case__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTestCaseColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Case__c</objectType>
    </variables>
    <variables>
        <name>varTestNotPassed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
