flows/Time_Sheet_Update_Efforts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Old_Efforts</name>
        <label>Add Old Efforts</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varTaskEffort</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOldEffort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Time_Sheet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Time_Sheet_existing</name>
        <label>Time Sheet existing?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Timesheet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Timesheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTimeSheetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_kind_of_Effort</targetReference>
            </connector>
            <label>Yes_Timesheet</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_kind_of_Effort</name>
        <label>What kind of Effort?</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Update_User_Story_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Effort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDesignEffort</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Journey_Task</targetReference>
            </connector>
            <label>Design Effort</label>
        </rules>
        <rules>
            <name>Architecture_Effort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsArchitectEffort</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Architecture_Task</targetReference>
            </connector>
            <label>Architecture Effort</label>
        </rules>
    </decisions>
    <interviewLabel>Time Sheet - Update Efforts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Sheet - Update Efforts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Time_Sheet</name>
        <label>Create Time Sheet</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>varTimeSheetId</assignRecordIdToReference>
        <connector>
            <targetReference>What_kind_of_Effort</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effort_d__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!varRessourceName} - Week from: {!varStartDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ressource__c</field>
            <value>
                <elementReference>varRessource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Sheet__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Time_Sheet</name>
        <label>Get Active Time Sheet</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_Sheet_existing</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ressource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRessource</elementReference>
            </value>
        </filters>
        <object>Time_Sheet__c</object>
        <outputAssignments>
            <assignToReference>varOldEffort</assignToReference>
            <field>Effort_d__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Timesheet</name>
        <label>Get Active Timesheet</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ressource_Name</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Time_Sheet__c</object>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Ressource_Name</name>
        <label>Get Ressource Name</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Time_Sheet</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRessource</elementReference>
            </value>
        </filters>
        <object>Ressource__c</object>
        <outputAssignments>
            <assignToReference>varRessourceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Architecture_Task</name>
        <label>Update Architecture Task</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Add_Old_Efforts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Efforts_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Sheet__c</field>
            <value>
                <elementReference>varTimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>Architecture_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Journey_Task</name>
        <label>Update Customer Journey Task</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Add_Old_Efforts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Efforts_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Sheet__c</field>
            <value>
                <elementReference>varTimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Journey_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet</name>
        <label>Update Time Sheet</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeSheetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Effort_d__c</field>
            <value>
                <elementReference>varTaskEffort</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story_Task</name>
        <label>Update User Story Task</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Add_Old_Efforts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Efforts_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Sheet__c</field>
            <value>
                <elementReference>varTimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Time_Sheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsArchitectEffort</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isDesignEffort</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOldEffort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRessource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRessourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskEffort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
