flows/Time_Sheet_Update_Efforts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Old_Efforts</name>
        <label>Add Old Efforts</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varTaskEffort</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOldEffort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Time_Sheet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_kind_of_Effort</name>
        <label>What kind of Effort?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_User_Story_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Effort</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDesignEffort</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Journey_Task</targetReference>
            </connector>
            <label>Design Effort</label>
        </rules>
    </decisions>
    <interviewLabel>Time Sheet - Update Efforts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Sheet - Update Efforts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Time_Sheet</name>
        <label>Get Active Time Sheet</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_kind_of_Effort</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ressource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRessource</elementReference>
            </value>
        </filters>
        <object>Time_Sheet__c</object>
        <outputAssignments>
            <assignToReference>varOldEffort</assignToReference>
            <field>Effort_d__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Journey_Task</name>
        <label>Update Customer Journey Task</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Add_Old_Efforts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Efforts_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Sheet__c</field>
            <value>
                <elementReference>varTimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Journey_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet</name>
        <label>Update Time Sheet</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimeSheetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Effort_d__c</field>
            <value>
                <elementReference>varTaskEffort</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story_Task</name>
        <label>Update User Story Task</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Add_Old_Efforts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Efforts_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Sheet__c</field>
            <value>
                <elementReference>varTimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Time_Sheet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isDesignEffort</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOldEffort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRessource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskEffort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
