flows/Time_Sheet_Schedule_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Collection_for_Update</name>
        <label>Add Collection for Update</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>varTimeSheetUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Time_Sheets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Time_Sheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Sheet_to_Inactive</name>
        <label>Set Time Sheet to Inactive</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Time_Sheets.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Time_Sheets.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formNow</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Time Sheet - Schedule Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Sheet - Schedule Creation</label>
    <loops>
        <name>Loop_Through_Ressources</name>
        <label>Loop Through Ressources</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <collectionReference>varRessourceColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_Time_Sheet</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Time_Sheets</name>
        <label>Loop Through Time Sheets</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>varTimeSheetColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Time_Sheet_to_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Time_Sheets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Time_Sheet</name>
        <label>Create New Time Sheet</label>
        <locationX>264</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>Loop_Through_Ressources</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Loop_Through_Ressources.Name} - Week from: {!formNow}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ressource__c</field>
            <value>
                <elementReference>Loop_Through_Ressources.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formNow</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Time_Sheets</name>
        <label>Get Active Time Sheets</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Time_Sheets</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Time_Sheet__c</object>
        <outputReference>varTimeSheetColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Ressources</name>
        <label>Get All Active Ressources</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Ressources</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Ressource__c</object>
        <outputReference>varRessourceColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Time_Sheets</name>
        <label>Update Time Sheets</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>Get_All_Active_Ressources</targetReference>
        </connector>
        <inputReference>varTimeSheetUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Time_Sheets</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-10-24</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRessourceColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ressource__c</objectType>
    </variables>
    <variables>
        <name>varTimeSheetColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Sheet__c</objectType>
    </variables>
    <variables>
        <name>varTimeSheetUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Sheet__c</objectType>
    </variables>
</Flow>
