flows/User_Story_Sprint_Calculation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Efforts_and_Progress</name>
        <label>Assign Efforts and Progress</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThrough_User_Stories.copado__Progress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlannedEffort</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThrough_User_Stories.Planned_Effort_d__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActualEffort</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThrough_User_Stories.Actual_Effort_d__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThrough_User_Stories</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formProgress</name>
        <dataType>Number</dataType>
        <expression>{!varProgress}/{!varCounter}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>User Story - Sprint Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - Sprint Calculation</label>
    <loops>
        <name>LoopThrough_User_Stories</name>
        <label>LoopThrough User Stories</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>varUserStoryColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Efforts_and_Progress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sprint</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_User_Stories</name>
        <label>Get All Related User Stories</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThrough_User_Stories</targetReference>
        </connector>
        <filters>
            <field>copado__Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSprint</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputReference>varUserStoryColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Progress__c</queriedFields>
        <queriedFields>Planned_Effort_d__c</queriedFields>
        <queriedFields>Actual_Effort_d__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_User_Stories</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Story</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sprint</name>
        <label>Update Sprint</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSprint</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Effort_d__c</field>
            <value>
                <elementReference>varActualEffort</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Effort_d__c</field>
            <value>
                <elementReference>varPlannedEffort</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress__c</field>
            <value>
                <elementReference>formProgress</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Sprint__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varActualEffort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCustomerJourney</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPlannedEffort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSprint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserStoryColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
