flows/User_Story_Mulesoft_Deployment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Callout_to_Jenkins</name>
        <label>Callout to Jenkins</label>
        <locationX>524</locationX>
        <locationY>512</locationY>
        <actionName>JenkinsCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Mulesoft_Applications</targetReference>
        </connector>
        <inputParameters>
            <name>MAid</name>
            <value>
                <elementReference>Loop_Through_Mulesoft_Applications.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>966</locationX>
        <locationY>517</locationY>
        <actionName>JenkinsCheckStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Mulesoft_Deployments</targetReference>
        </connector>
        <inputParameters>
            <name>MDid</name>
            <value>
                <elementReference>Loop_Through_Mulesoft_Deployments.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Status_2</name>
        <label>Check Status 2</label>
        <locationX>1339</locationX>
        <locationY>527</locationY>
        <actionName>JenkinsCheckStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Second_Time</targetReference>
        </connector>
        <inputParameters>
            <name>MDid</name>
            <value>
                <elementReference>Loop_Second_Time.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Collection2_not_empty</name>
        <label>Collection not empty?</label>
        <locationX>956</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMulesoftDeploymentsColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Mulesoft_Deployments</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_not_Empty</name>
        <label>Collection not Empty?</label>
        <locationX>333</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMulesoftApplicationColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Mulesoft_Applications</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Pending</name>
        <label>Status Pending ?</label>
        <locationX>1557</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mulesoft_Deployment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formEightMinutes</name>
        <dataType>DateTime</dataType>
        <expression>now()+(8/1440)</expression>
    </formulas>
    <formulas>
        <name>formFiveMinutes</name>
        <dataType>DateTime</dataType>
        <expression>now()+(5/1440)</expression>
    </formulas>
    <interviewLabel>User Story - Mulesoft Deployment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - Mulesoft Deployment</label>
    <loops>
        <name>Loop_Second_Time</name>
        <label>Loop Second Time</label>
        <locationX>1337</locationX>
        <locationY>276</locationY>
        <collectionReference>varMulesoftDeploymentsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All</name>
        <label>Loop Through All</label>
        <locationX>1567</locationX>
        <locationY>277</locationY>
        <collectionReference>varMulesoftDeploymentsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_Pending</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Mulesoft_Applications</name>
        <label>Loop Through Mulesoft Applications</label>
        <locationX>523</locationX>
        <locationY>276</locationY>
        <collectionReference>varMulesoftApplicationColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Callout_to_Jenkins</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pause_5_Minutes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Mulesoft_Deployments</name>
        <label>Loop Through Mulesoft Deployments</label>
        <locationX>965</locationX>
        <locationY>274</locationY>
        <collectionReference>varMulesoftDeploymentsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pause_8_Minutes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Mulesoft_Applications</name>
        <label>Get All Related Mulesoft Applications</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_not_Empty</targetReference>
        </connector>
        <filters>
            <field>Job_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Story_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserStoryId</elementReference>
            </value>
        </filters>
        <object>Mulesoft_Application__c</object>
        <outputReference>varMulesoftApplicationColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job_URL__c</queriedFields>
        <queriedFields>Version__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Mulesoft_Deployment</name>
        <label>Get Mulesoft Deployment</label>
        <locationX>778</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection2_not_empty</targetReference>
        </connector>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserStoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Mulesoft_Deployment__c</object>
        <outputReference>varMulesoftDeploymentsColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mulesoft_Deployment</name>
        <label>Update Mulesoft Deployment</label>
        <locationX>1759</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>Loop_Through_All</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Timed Out</stringValue>
            </value>
        </inputAssignments>
        <object>Mulesoft_Deployment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Related_Mulesoft_Applications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varMulesoftApplicationColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mulesoft_Application__c</objectType>
    </variables>
    <variables>
        <name>varMulesoftDeploymentsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mulesoft_Deployment__c</objectType>
    </variables>
    <variables>
        <name>varUserStoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Pause_5_Minutes</name>
        <label>Pause 5 Minutes</label>
        <locationX>525</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Mulesoft_Deployment</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formFiveMinutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Pause 1</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_8_Minutes</name>
        <label>Pause 8 Minutes</label>
        <locationX>1147</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>P_2</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Loop_Second_Time</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formEightMinutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>P 2</label>
        </waitEvents>
    </waits>
</Flow>
