flows/User_Story_Update_Environment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varMulesoftApplicationCollUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Mulesoft_Applications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mulesoft_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Environment</name>
        <label>Assign Current Environment</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Mulesoft_Applications.Current_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentEnviornment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Mulesoft_Collection_Empty</name>
        <label>Mulesoft Collection Empty?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMulesoftAppColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Mulesoft_Applications</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>User Story - Update Environment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - Update Environment</label>
    <loops>
        <name>Loop_Through_Mulesoft_Applications</name>
        <label>Loop Through Mulesoft Applications</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>varMulesoftAppColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Environment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Mulesoft_Application_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Mulesoft_Applications</name>
        <label>Get Related Mulesoft Applications</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mulesoft_Collection_Empty</targetReference>
        </connector>
        <filters>
            <field>User_Story_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserStory</elementReference>
            </value>
        </filters>
        <object>Mulesoft_Application__c</object>
        <outputReference>varMulesoftAppColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Environment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mulesoft_Application_Collection</name>
        <label>Update Mulesoft Application Collection</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>varMulesoftApplicationCollUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Mulesoft_Applications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCurrentEnviornment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMulesoftAppColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mulesoft_Application__c</objectType>
    </variables>
    <variables>
        <name>varMulesoftApplicationCollUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mulesoft_Application__c</objectType>
    </variables>
    <variables>
        <name>varUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
