flows/User_Story_Set_Customer_Journey_to_UAT.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Status_is_not_UAT</name>
        <label>Status is not UAT</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varStatusNotUAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_User_Stories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_is_Ready_for_UAT</name>
        <label>Status is Ready for UAT?</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Status_is_not_UAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_User_Stories.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for UAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_User_Stories</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_if_All_User_Stories_in_UAT</name>
        <label>All User Stories in UAT?</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStatusNotUAT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Journey_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>User Story - Set Customer Journey to UAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - Set Customer Journey to UAT</label>
    <loops>
        <name>Loop_Through_User_Stories</name>
        <label>Loop Through User Stories</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>varUserStoryColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_is_Ready_for_UAT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_if_All_User_Stories_in_UAT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_User_Stories</name>
        <label>Get All Related User Stories</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_User_Stories</targetReference>
        </connector>
        <filters>
            <field>Customer_Journey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerJourney</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputReference>varUserStoryColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_User_Stories</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Story</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Journey_Status</name>
        <label>Update Customer Journey Status</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerJourney</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>User Acceptance Test</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Journey__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCustomerJourney</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatusNotUAT</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varUserStoryColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
