flows/User_Story_Jenkins_Callout.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Second_Time</name>
        <label>Check Second Time</label>
        <locationX>264</locationX>
        <locationY>1622</locationY>
        <actionName>JenkinsCheckStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Second_Time</targetReference>
        </connector>
        <inputParameters>
            <name>MDid</name>
            <value>
                <elementReference>Loop_Through_Mulesoft_Deployments.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>264</locationX>
        <locationY>1070</locationY>
        <actionName>JenkinsCheckStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Mulesoft_Deployments</targetReference>
        </connector>
        <inputParameters>
            <name>MDid</name>
            <value>
                <elementReference>Loop_Through_Mulesoft_Deployments.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Jenkins_Callout</name>
        <label>Jenkins Callout</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>JenkinsCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Mulesoft_Applications</targetReference>
        </connector>
        <inputParameters>
            <name>MAid</name>
            <value>
                <elementReference>Loop_Through_Mulesoft_Applications.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Status_equals_Pending</name>
        <label>Status equals Pending?</label>
        <locationX>396</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mulesoft_Deployment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formEightMinutes</name>
        <dataType>DateTime</dataType>
        <expression>now()+(8/1440)</expression>
    </formulas>
    <formulas>
        <name>formFiveMinutes</name>
        <dataType>DateTime</dataType>
        <expression>now()+(5/1440)</expression>
    </formulas>
    <interviewLabel>User Story - Jenkins Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - Jenkins Callout</label>
    <loops>
        <name>Loop_Second_Time</name>
        <label>Loop Second Time</label>
        <locationX>176</locationX>
        <locationY>1502</locationY>
        <collectionReference>varMulesoftDeplColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Second_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All</name>
        <label>Loop Through All</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <collectionReference>varMulesoftDeplColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_equals_Pending</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Mulesoft_Applications</name>
        <label>Loop Through Mulesoft Applications</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>varMulesoftAppColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Jenkins_Callout</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Resume_after_Five_Minutes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Mulesoft_Deployments</name>
        <label>Loop Through Mulesoft Deployments</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionReference>varMulesoftDeplColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pause</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Mulesoft_Applications</name>
        <label>Get Mulesoft Applications</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Mulesoft_Applications</targetReference>
        </connector>
        <filters>
            <field>Job_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Story_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserStory</elementReference>
            </value>
        </filters>
        <object>Mulesoft_Application__c</object>
        <outputReference>varMulesoftAppColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job_URL__c</queriedFields>
        <queriedFields>Application_Name__c</queriedFields>
        <queriedFields>Version__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Mulesoft_Deployments</name>
        <label>Get Mulesoft Deployments</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Mulesoft_Deployments</targetReference>
        </connector>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserStory</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Mulesoft_Deployment__c</object>
        <outputReference>varMulesoftDeplColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mulesoft_Deployment</name>
        <label>Update Mulesoft Deployment</label>
        <locationX>264</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Loop_Through_All</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Timed Out</stringValue>
            </value>
        </inputAssignments>
        <object>Mulesoft_Deployment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mulesoft_Applications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varMulesoftAppColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mulesoft_Application__c</objectType>
    </variables>
    <variables>
        <name>varMulesoftDeplColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mulesoft_Deployment__c</objectType>
    </variables>
    <variables>
        <name>varUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>176</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Loop_Second_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause2</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Loop_Second_Time</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formEightMinutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Pause 2</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Resume_after_Five_Minutes</name>
        <label>Resume after Five Minutes</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Get_Mulesoft_Deployments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Mulesoft_Deployments</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formFiveMinutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Pause 1</label>
        </waitEvents>
    </waits>
</Flow>
