flows/User_Story_Task_Proof_if_all_tasks_completed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Task_Not_Completed</name>
        <label>Task Not Completed</label>
        <locationX>446</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>varTaskNotCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Task_Completed</name>
        <label>Check Task Completed?</label>
        <locationX>182</locationX>
        <locationY>925</locationY>
        <defaultConnector>
            <targetReference>User_Story_Update_on_Task_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskNotCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Story_Update_on_Task_NOT_Completed</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_completed</name>
        <label>Task completed?</label>
        <locationX>358</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Task_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>User Story Task - Proof if all tests completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story Task - Proof if all tasks completed</label>
    <loops>
        <name>Loop_Through_Task</name>
        <label>Loop Through Task</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <collectionReference>varUserStoryTaskColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Task_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_User_Story_Tasks</name>
        <label>Get All Related User Story Tasks</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Task</targetReference>
        </connector>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <object>copado__User_Story_Task__c</object>
        <outputReference>varUserStoryTaskColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>User_Story_Update_on_Task_Completed</name>
        <label>User Story Update on Task Completed</label>
        <locationX>314</locationX>
        <locationY>1045</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tasks_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>User_Story_Update_on_Task_NOT_Completed</name>
        <label>User Story Update on Task NOT Completed</label>
        <locationX>50</locationX>
        <locationY>1045</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tasks_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_User_Story_Tasks</targetReference>
        </connector>
        <object>copado__User_Story_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTaskNotCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varUserStoryTaskColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story_Task__c</objectType>
    </variables>
</Flow>
